.products {
    position: relative; 
    display:block;
}

.products__title {
    width: 100vw;
    font-family: FjallaOne-Regular;
    font-size: 40px;
    color: #FFFFFF;
}

.products__items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //padding-left: 50px;
    //padding-right: 50px;
    //padding-top: 50px;
    //padding-bottom: 50px;
    overflow-x: scroll;
    overflow-y:hidden;
}


@media (max-width:500px) {

    .product__image {
       // width: 300px;
      //  height: auto;
    }
}